<main class="content">

    <div class="container notice">
        <div class="card">
            <div class="card-content"><i class="fa fa-volume-up fa-lg fa-fw text-color"></i>推荐
            </div>
        </div>
    </div>

    <% var hashCode=function (str) {
    if (!str && str.length===0) {
        return 0;
    }
    var hash=0;
    for (var i=0, len=str.length;
    i < len;
    i++) {
        hash=((hash << 5) - hash)+str.charCodeAt(i);
        hash |=0;
    }
    return hash;
}

;
%>
    <%
            var recommend = [  
    ["腾讯云开发者平台","https://dev.tencent.com/","腾讯云+Coding","Git","7.jpg"],  
    ["CocoaChina","http://www.cocoachina.com/","CocoaChina","社区","3.jpg"], 
    ["AnyCodes","http://www.anycodes.cn/zh/","在线编程","编程","1.jpg"],        
    ["最全前端教程合集","https://www.qqstop.cn/archives/15.html","最全前端教程合集","教程","31.jpg"],
    ["Python 资源大全中文版","https://zhang18.top/program/72/","Python 资源大全中文版","教程","12.jpg"],

    ["安逸导航","https://anyi.life/","安逸导航","导航","32.jpg"],
    ["CS-Notes","https://github.com/CyC2018/CS-Notes","CS-Notes","Github","36.jpg"],
    ["独立","https://josephchang10.github.io/chinese-indie-hackers/","独立","Github","38.jpg"],
    ["Gitbook-题解","https://algorithm.yuanbin.me/zh-hans/","Gitbook-题解","Github","39.jpg"],
    ["柳婼-题解","https://github.com/liuchuo","柳婼-题解","Github","40.jpg"],
    ["interviews-cn","https://github.com/kdn251","interviews-cn","Github","66.jpg"], 
    ["中文 iOS/Mac 开发博客列表","https://github.com/tangqiaoboy/iOSBlogCN","中文 iOS/Mac 开发博客列表","Github","68.jpg"],

    ["cocoaz","https://www.cocoaz.com/","cocoaz","社区","41.jpg"],
    ["cocoachina","http://www.cocoachina.com/","cocoachina","社区","52.jpg"],
    ["邱俊涛","http://icodeit.org/","前端书籍作者","互联网","53.jpg"],
    ["廖雪峰","https://www.liaoxuefeng.com/","廖雪峰","互联网","54.jpg"],
    ["萧井陌","https://www.zhihu.com/people/xiao-jing-mo/activities","萧井陌","互联网","55.jpg"],
    ["小甲鱼","https://ilovefishc.com/","小甲鱼","全栈","58.jpg"],
];

        %>

    <!-- 所有文章卡片 -->
    <article id="articles" class="container articles">
        <div class="row article-row">
            <% recommend.forEach( recommend=> {
     %>
            <div class="article col s12 m6 l4" data-aos="fade-up" data-aos-duration="200">
                <div class="card">
                    <a href="<%- recommend[1] %>" target="_blank">
                        <div class="card-image"> <img src="<%- 'https://pictures-1257961856.cos.ap-shanghai.myqcloud.com/images/medias/featureimages/'+recommend[4] %>"
                                class="responsive-img">
                            <span class="card-title">
                                <%- recommend[0] %> </span> </div>
                    </a>
                    <div class="card-content article-content">
                        <!---->
                        <div class="summary">
                            <%- recommend[2] %>
                        </div>
                    </div>
                    <div class="card-action article-tags"> <span class="chip bg-color">
                            <%=recommend[3] %> </span> </div>
                </div>
            </div>
            <%
 }

 );
 %>
        </div>
    </article>



</main>
<div>
    <br>
</div>